$spritesheet: (
	  sprite: (width: 91px, height: 72px),
 	flags--ae: (width: 20px, height: 14px, backgroundX: -30.5px, backgroundY: 0px),
 	flags--be: (width: 20px, height: 14px, backgroundX: 0px, backgroundY: -24px),
 	flags--br: (width: 20.5px, height: 14px, backgroundX: 0px, backgroundY: 0px),
 	flags--de: (width: 20px, height: 14px, backgroundX: -30px, backgroundY: -24px),
 	flags--fr: (width: 20px, height: 14px, backgroundX: -60.5px, backgroundY: 0px),
 	flags--nl: (width: 20px, height: 14px, backgroundX: -60.5px, backgroundY: -24px),
 	flags--uk: (width: 20px, height: 14px, backgroundX: 0px, backgroundY: -48px),
);
